---
import AmazonLogo from "./AmazonLogo.astro";
const SPAIN = "ES";

const country = Astro.request.headers.get("X-Vercel-IP-Country") ?? "ES";

const storeCountry = country === SPAIN ? "spain" : "usa";
const countryName = country === SPAIN ? "Espana" : "Estados Unidos";

const { buy } = Astro.props;
const url = buy[storeCountry];
---

<a
  href={url}
  title="Comprar libro"
  target="_blank"
  rel="noopener noreferrer"
  class="amazon-button flex items-center gap-2"
>
  Comprar en Amazon {countryName}
  <AmazonLogo />
</a>
